* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

body {
    background-color: rgb(30, 30, 30);
    margin: 2rem;
}

div {
    padding: 8px;
    border: 2px dotted gray;
    margin-bottom: 10px;
    display: block;
}

img {
    display: block;
    margin-left: auto;
    height: auto;
    max-width: 300px;
}

h1, h3 {
    font-size: large ;
}

p {
    font-size: small;
}

ul, ol {
    text-align: left;
    font-size: small;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

.recipe {
    display: inline-block;
}